<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Survey App | Dashboard</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <a href="/logout">Logout</a>
        <div class="grid-container">
            <div class="grid-item">
                <h1><u>My Surveys</u></h1>

                <label>55555 - Test survey 1</label>
                <br>
                <label>66666 - Test survey 2</label>
                <br>
                <br>
                <div class="controls">
                    <label>Code</label>
                    <input type="text" placeholder="Enter code..." name="code">

                    <input type="image" src="icons/upload_icon.png" alt="upload icon" name="upload icon">
                    <input type="image" src="icons/edit_icon.png" alt="edit icon" name="edit icon">
                    <input type="image" src="icons/trash_icon.png" alt="trash icon" name="trash icon">
                </div>

                <input type="image" onclick="location.href='create.html'" src="icons/add_icon.png" alt="add icon" name="add icon">

            </div>
            <div class="grid-item">
                <h1><u>Uploaded Surveys</u></h1>

                <label>55555 - Test survey 1</label>
                <br>
                <label>66666 - Test survey 2</label>
                <br>
                <br>
                <div class="controls">
                    <label>Code</label>
                    <input type="text" placeholder="Enter code..." name="code">

                    <input type="image" src="icons/download_icon.png" alt="download icon" name="download icon">
                    <input type="image" src="icons/minus_icon.png" alt="minus icon" name="minus icon">
                </div>

            </div>
        </div>

    </body>
</html>