<!DOCTYPE html>
<html lang="en">
        <head>
                <title>Survey App | Desktop Dashboard</title>
                <meta charset="utf-8">  
                <link rel="stylesheet" href="css/styles.css">
        </head>
        <body>
                <div class="grid-container">
                        <div class = "grid-item"><h1><u>My Surveys</u></h1></div>
                        <div class = "grid-item"><h1><u>Uploaded Surveys</u></h1></div>
                        <input type="button" onclick="location.href='create.html'" value="Go to create form" src="public/resources/icons/add_icon.png" alt="add icon" name="add icon" class="" id="add icon">
                        <input type="image" src="public/resources/icons/download_icon.png" alt="download icon" name="download icon" class="" id="download icon" >
                        <input type="image" src="public/resources/icons/edit_icon.png" alt="edit icon" name="edit icon" class="" id="edit icon" >
                        <input type="image" src="public/resources/icons/minus_icon.png" alt="minus icon" name="minus icon" class="" id="minus icon" >
                        <input type="image" src="public/resources/icons/trash_icon.png" alt="trash icon" name="trash icon" class="" id="trash icon" >
                        <input type="image" src="public/resources/icons/upload_icon.png" alt="upload icon" name="upload icon" class="" id="upload icon" >
                </div>
        </body>
</html>
