<!DOCTYPE html>
<html lang="en">
<head>
	<title>Survey App | Error</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<h1>ERROR!</h1>
    <h3><%= message %></h3>
</body>
</html>
