<!DOCTYPE html>
<html lang="en">
<head>
    <title>Survey App | Take Survey</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <h1>Survey title</h1>
    <div class="question">
        <!-- T/F -->
        <div>
            <h3>1. Do you have a favorite color?</h3>

            <input type="radio" name="tf">
            <label>True</label>

            <input type="radio" name="tf">
            <label>False</label>
        </div>

        <!-- MC -->
        <div>
            <h3>2. Which is your favorite color?</h3>
            <input type="radio" name="mc">
            <label>Red</label>

            <input type="radio" name="mc">
            <label>Green</label>

            <input type="radio" name="mc">
            <label>Blue</label>
        </div>

        <!-- FR -->
        <div>
            <h3>3. Why did you choose that color?</h3>

            <textarea rows="5" cols="60" name="fr" placeholder="Enter text..."></textarea>
        </div>
    </div>
</body>
</html>