<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Survey App | Login</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body>
		<form action='/submitLogin' method="POST">
			<div class="login">
				<label for="username"><b>Username</b></label>
				<input type="text" placeholder="Enter username..." name="username" required>

				<label for="pwd"><b>Password</b></label>
				<input type="password" placeholder="Enter password..." name="password" required>

				<button type="submit">Login</button>
			</div>
		</form>
	</body>
</html>
