<!DOCTYPE html>
<html lang="en">
<head>
	<title>Survey App | Login</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<form action="/submitLogin" method="POST">
		<div class="login">
			<label for="username"><b>Username</b></label>
            <img class="buttonIcon" type="image" src="icons/user.png" alt="user">
			<input type="text" placeholder="Enter username..." name="username" required>

			<label for="pwd"><b>Password</b></label>
			<img class="buttonIcon" type="image" src="icons/lock.png" alt="key">
			<input type="password" placeholder="Enter password..." name="password" required>

			<button type="submit">Login</button>
		</div>
	</form>
</body>
<footer>
	<p class="attribution">Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a></p>
</footer>
</html>
