<!DOCTYPE html>
<html lang="en">
<head>
	<title>Survey App | Error</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<h1><%= data.messageHeader %></h1>
    <h3><%= data.message %></h3>
	<input class="buttonIcon" onclick="window.location.href = '/';" type="image" src="icons/home_icon.png" alt="home" name="home icon">
</body>
</html>
