<!DOCTYPE html>
<html lang="en">
<head>
	<title>Survey App | Message</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>

<body>
	<h1><%= data.title %></h1>
    <h3><%= data.message %></h3>
</body>
</html>
