<!DOCTYPE html>
<html lang="en">
<head>
	<title>Survey App | Message</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>

<body>
	<h1><%= data.messageHeader %></h1>
    <h3><%= data.message %></h3>
	<input class="largeButtonIcon" onclick="window.location.href = '/';" type="image" src="/icons/home.png" alt="home" name="home icon">
</body>
</html>
