<!DOCTYPE html>
<html lang="en">
<head>
	<title>Survey App | Profile</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>

<body>
	<h1>Check your email for a code</h1>
    <form action="/submitProfile2fa" method="POST">
        <h3>Code</h3>
        <input type="number" placeholder="Enter code..." name="code" required>
        <button type="submit">Submit</button>
    </form>
</body>
<footer>
	<p class="attribution">Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a></p>
</footer>
</html>