<!DOCTYPE html>
<html lang="en">
<head>
	<title>Survey App | Profile</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>

<body>
	<h1>Profile</h1>
    <h3>Email</h3>
    <h3>Username</h3>
    <h3>Password</h3>
</body>
<footer>
	<p class="attribution">Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a></p>
</footer>
</html>