<!DOCTYPE html>
<html lang="en">
<head>
    <title>Survey App | Take Survey</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    
   <div class="survey">
   	<h1><%= survey.code + ' - ' + survey.name %></h1>
	<p>
		<br>
	</p>	
	
</body>
</html>