<!DOCTYPE html>
<html lang="en">
<head>
	<title>Survey App | take</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<!-- <h1><% data.subscribedSurveys(survey => { %></h1>
    <div class="takesurvey">
        <div class="question">
          <script language="JavaScript">

        function take() {
            console.log('add question');
            
            if (label =="T/F"){
                <% data.tflabel(question => { %>
                <input type="radio" name="tf">
                <label>True</label>

                <input type="radio" name="tf">
                <label>False</label>
            }
            else if(label="Multiple Choice"){
                <% data.mclabel(question => { %>
                
            }
            else if(label="Free Response"){
                <% data.frlabel(question => { %>
                <textarea rows="5" cols="60" name="fr" placeholder="Enter text..."></textarea>
            }
                         
                                   
            </script> -->
              
        </div>
    </div>
</body>
</html>
