
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Survey App | Take Survey</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
            </body>
                <h1>Testing survey</h1>
                <h3>Sorry, this survey has concluded!</h3>
            </body>
        <footer>
            <p class="attribution">Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a></p>
        </footer>
        </html>