
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <title>Survey App | Take Survey</title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="css/styles.css">
        </head>
        <body>
            <h1>Cat survey</h1>
            <form action='/submitResponse/4582/<%= phoneNumber %>' method="POST">
            <div class="question"><!-- T/F -->
                            <div>
                                <h3>1. Do you like cats?</h3>
                                <input type="radio" name="1" value="true">
                                <label>True</label>
                                <input type="radio" name="1" value="false">
                                <label>False</label>
                            </div><!-- T/F -->
                            <div>
                                <h3>2. Do you own a cat?</h3>
                                <input type="radio" name="2" value="true">
                                <label>True</label>
                                <input type="radio" name="2" value="false">
                                <label>False</label>
                            </div><!-- MC -->
                            <div>
                                <h3>3. How many cats do you have?</h3><input type="radio" name="3" value="none">
                            <label>none</label><input type="radio" name="3" value="1">
                            <label>1</label><input type="radio" name="3" value="2 or more">
                            <label>2 or more</label></div>
                <br>
                <button type="submit">Submit</button>
            </div>
            </form>
        </body>
        </html>