
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <title>Survey App | Take Survey</title>
                <meta charset="utf-8">
                <link rel="stylesheet" href="css/styles.css">
            </head>
            <body>
                <h1>a</h1>
                <form action='/submitResponse/5910/<%= phoneNumber %>' method="POST">
                <div class="question"><!-- T/F -->
                                <div>
                                    <h3>1. a</h3>
                                    <input type="radio" name="1" value="true" required>
                                    <label>True</label>
                                    <input type="radio" name="1" value="false" required>
                                    <label>False</label>
                                </div>
                    <br>
                    <button type="submit">Submit</button>
                </div>
                </form>
            </body>
            </html>