
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <title>Survey App | Message</title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="/css/styles.css" type="text/css">
        </head>
        <body>
            <h1>Hang Tight</h1>
            <h3>Survey starting soon!</h3>
        </body>
        <footer>
            <p class="attribution">Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a></p>
        </footer>
        </html>
    