
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <title>Survey App | Take Survey</title>
                <meta charset="utf-8">
                <link rel="stylesheet" href="css/styles.css">
            </head>
            <body>
                <h1>The Kelly Survey</h1>
                <form action='/submitResponse/6930/<%= phoneNumber %>' method="POST">
                <div class="question"><!-- MC -->
                                <div>
                                    <h3>1. What is Kelly's nickname?</h3><input type="radio" name="1" value="Kelly" required>
                                <label>Kelly</label><input type="radio" name="1" value="Jelly" required>
                                <label>Jelly</label><input type="radio" name="1" value="Bean" required>
                                <label>Bean</label><input type="radio" name="1" value="Squeaky" required>
                                <label>Squeaky</label></div><!-- T/F -->
                                <div>
                                    <h3>2. Is Kelly a cat person?</h3>
                                    <input type="radio" name="2" value="true" required>
                                    <label>True</label>
                                    <input type="radio" name="2" value="false" required>
                                    <label>False</label>
                                </div><!-- T/F -->
                                <div>
                                    <h3>3. is Kelly a dog person?</h3>
                                    <input type="radio" name="3" value="true" required>
                                    <label>True</label>
                                    <input type="radio" name="3" value="false" required>
                                    <label>False</label>
                                </div>
                    <br>
                    <button type="submit">Submit</button>
                </div>
                </form>
            </body>
            </html>