
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Survey App | Take Survey</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
            <body>
                <h1>The Kelly Survey</h1>
                <form action='/submitResponse/6930/<%= phoneNumber %>' method="POST">
                <div class="question"><!-- FR -->
                                <div>
                                    <h3>1. Describe kelly in 1 word.</h3>
                                    <textarea rows="5" cols="60" name="1" placeholder="Enter text..." required></textarea>
                                </div><!-- MC -->
                                <div>
                                    <h3>2. What is Kelly's favorite animal?</h3><input type="radio" name="2" value="Giraffe" required>
                                <label>Giraffe</label><input type="radio" name="2" value="Llama" required>
                                <label>Llama</label><input type="radio" name="2" value="Cheetah" required>
                                <label>Cheetah</label><input type="radio" name="2" value="Goat" required>
                                <label>Goat</label></div><!-- MC -->
                                <div>
                                    <h3>3. What is Kelly's favorite color?</h3><input type="radio" name="3" value="blue" required>
                                <label>blue</label><input type="radio" name="3" value="red" required>
                                <label>red</label><input type="radio" name="3" value="green" required>
                                <label>green</label></div>
                    <br>
                    <button type="submit">Submit</button>
                </div>
                </form>
            </body>
        <footer>
            <p class="attribution">Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a></p>
        </footer>
        </html>