
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <title>Survey App | Take Survey</title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="css/styles.css">
        </head>
        <body>
            <h1>Test survey</h1>
            <form action='/submitResponse/7213/<%= phoneNumber %>' method="POST">
            <div class="question"><!-- T/F -->
                            <div>
                                <h3>1. TF question</h3>
                                <input type="radio" name="1" value="true">
                                <label>True</label>
                                <input type="radio" name="1" value="false">
                                <label>False</label>
                            </div><!-- MC -->
                            <div>
                                <h3>2. MC question</h3><input type="radio" name="2" value="red">
                            <label>red</label><input type="radio" name="2" value="blue">
                            <label>blue</label></div><!-- FR -->
                            <div>
                                <h3>3. FR question</h3>
                                <textarea rows="5" cols="60" name="3" placeholder="Enter text..."></textarea>
                            </div>
                <br>
                <button type="submit">Submit</button>
            </div>
            </form>
        </body>
        </html>