
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <title>Survey App | Take Survey</title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="css/styles.css">
        </head>
        <body>
            <h1>test survey</h1>
            <form action='/submitResponse/8002/<%= phoneNumber %>' method="POST">
            <div class="question"><!-- T/F -->
                            <div>
                                <h3>1. is this true</h3>
                                <input type="radio" name="1" value="true">
                                <label>True</label>
                                <input type="radio" name="1" value="false">
                                <label>False</label>
                            </div><!-- T/F -->
                            <div>
                                <h3>2. is this false</h3>
                                <input type="radio" name="2" value="true">
                                <label>True</label>
                                <input type="radio" name="2" value="false">
                                <label>False</label>
                            </div><!-- MC -->
                            <div>
                                <h3>3. which pill</h3><input type="radio" name="3" value="red">
                            <label>red</label><input type="radio" name="3" value="blue">
                            <label>blue</label></div>
                <br>
                <button type="submit">Submit</button>
            </div>
            </form>
        </body>
        </html>