
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <title>Survey App | Take Survey</title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="css/styles.css">
        </head>
        <body>
            <h1>Test survey</h1>
            <form action='/submitResponse/8204/<%= phoneNumber %>' method="POST">
            <div class="question">
                <br>
                <button type="submit">Submit</button>
            </div>
            </form>
        </body>
        </html>