
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Survey App | Take Survey</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
            <body>
                <h1>Example survey</h1>
                <form action='/submitResponse/9150/<%= phoneNumber %>' method="POST">
                <div class="question"><!-- FR -->
                                <div>
                                    <h3>1. What is your name?</h3>
                                    <textarea rows="5" cols="60" name="1" placeholder="Enter text..." required></textarea>
                                </div><!-- MC -->
                                <div>
                                    <h3>2. What is your age?</h3><input type="radio" name="2" value="<18" required>
                                <label><18</label><input type="radio" name="2" value="18-25" required>
                                <label>18-25</label><input type="radio" name="2" value=">25" required>
                                <label>>25</label></div><!-- MC -->
                                <div>
                                    <h3>3. What do you like to do?</h3><input type="radio" name="3" value="Be active" required>
                                <label>Be active</label><input type="radio" name="3" value="Stay inside" required>
                                <label>Stay inside</label><input type="radio" name="3" value="Be with people" required>
                                <label>Be with people</label></div>
                    <br>
                    <button class="button" type="submit">Submit</button>
                </div>
                </form>
            </body>
        <footer>
            <p class="attribution">Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a></p>
        </footer>
        </html>